body{
    height: 927px;  
    background-image: url(https://estaticos.qdq.com/swdata/home_photos/481/481300690/1876d4a7c36c41aa9c4a17f9f8cdd47b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;

}



